$color_header: #292639;
$color_section: #606978;
$color_font: #D1DCE2;
$color_button: #E3BE77;
$color_hover: #E6D816;

.secretword {
    position: absolute;
    width: 100%;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    background-color: #e2d9d908;
}

.letter {
    width: 1.5rem;
    height: 2rem;
    padding: 0.3rem 0.1rem 0.2rem 0.1rem;
    margin: 0 0.2rem;
    font-size: 2rem;
    color: transparent;
    font-weight: 600;
    border-bottom: 3px solid $color_header;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        background-color: #f09e9e22;
    }

    &__correct {
        animation: letterOpacity 0.6s linear both;
    }
}

@keyframes letterOpacity {
    0% {
        color: transparent;
        font-size: 2rem;
    }

    50% {
        //color: #171717;
        font-size: 3rem;
    }

    100% {
        color: $color_hover;
        font-size: 2rem;
    }
}