.secretword {
  position: absolute;
  width: 100%;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  background-color: #e2d9d908;
}

.letter {
  width: 1.5rem;
  height: 2rem;
  padding: 0.3rem 0.1rem 0.2rem 0.1rem;
  margin: 0 0.2rem;
  font-size: 2rem;
  color: #171717;
  border-bottom: 2px solid #000000;
  background-color: transparent;
  cursor: pointer;
}
.letter:hover {
  background-color: #f09e9e22;
}