$color_header: #292639;
$color_section: #606978;
$color_font: #D1DCE2;
$color_button: #E3BE77;
$color_hover: #E6D816;

.header {
    position: fixed;
    width: 100%;
    max-width: 35rem;
    min-width: 23.5rem;
    height: 5rem;
    top: 0;
    left: auto;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color_hover;
    background-color: $color_header;
    color: $color_font;
    z-index: 1;
    
}