#root {
  position: relative;
  width: 100%;
  max-width: 35rem;
  min-width: 23.5rem;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;    
  background-color:  #292639;
  overflow: hidden;
}

