$color_header: #292639;
$color_section: #606978;
$color_font: #D1DCE2;
$color_button: #E3BE77;
$color_hover: #E6D816;

.alphabet {
    display: grid;
    left: 1rem;
    width: 22.8rem;
    height: 7rem;
    margin: 0 auto;
    grid-template-columns: repeat(9, 1fr);
    gap: 0.6rem;
    background-color: #e6d5a200;
    padding: 0.5rem;

    &__letter {
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding: 0.1rem 0 0 0;
        background-color: $color_font;
        border: 1px solid #17171700;
        color: #000000;
        font-weight: 600;
        font-size: 1rem;
        font-family: 'Nunito', sans-serif;
        border-radius: 3px;
        box-shadow: 1px 1px 1px #000000;
        transition: background-color, scale 0.2s linear;
        cursor: pointer;

        &:hover {
            background-color: $color_button;
            border: 1px solid #171717;
        }

        &:disabled {
            background-color: #99584f;
            border: 1px solid #171717;
            color: #353535;
            cursor: not-allowed;
        }
    }

}